<style>
    .grad {
        background: -webkit-linear-gradient(left, #727272, #727272, black, black, black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #727272 , #727272, black, black, black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #727272 , #727272, black, black, black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #727272 , #727272, black, black, black); /* Standard syntax */
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top grad" role="navigation" style="background-color:#727272;border-color:silver;">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#services" class="glyphicon glyphicon-calendar btn-lg" style="word-spacing:-14px;"> Agenda</a></li>
                <li><a href="#contact" class="glyphicon glyphicon-earphone btn-lg" style="word-spacing:-14px;"> Contato</a></li>
                <li><a href="#about" class="glyphicon glyphicon-edit btn-lg" style="word-spacing:-14px;"> Cadastre-se</a></li>
                <li><a href="#about" class="glyphicon glyphicon-log-in btn-lg" style="word-spacing:-14px;"> Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<nav role="navigation" class="navbar-fixed-top col-md-3 ">

    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <div class="col-md-3 pull-right">
            <img style="width: 100px; cursor: pointer;" class="fixed-size" src="img/logoGuia.png">
        </div>
    </div>

</nav>

</nav>